.title{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.all{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: start;

}
.basket{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: start;
}

.item{
    padding: 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
    font-size: 14px;
    color: white;
    font-weight: 500;
    width: 100%;
    margin-left: 25px;
}


.img{
    margin: 0 10px;
    height: 100%;
    border-radius: 100%;
}

.item:hover{
    background-color: white;
    color: black;
}